<!doctype html>
<html>
  <head>
    <title>qpi</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/crete-font/stylesheet.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>qpi: {% block subheading %}{% endblock %}</h1>
      <a id="client-link" href="/client">Go to client &raquo;</a>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="queue">
      <h2>Current Queue</h2>
      <ul>
        {% block queue %}{% endblock %}
      </ul>
    </div>
  </body>
</html>
