{% extends 'base.html' %}
{% block subheading %} Index {% endblock %}
{% block content %}
<h2>Play online media</h2>
<form method="POST" action="/url">
  <input type="text" name="url">
  <input type="submit" value="add &raquo;">
</form>

<h2>Play local media</h2>
<form method="POST" enctype="multipart/form-data" action="/upload">
  <input type="file" name="file" multiple="">
  <input type="submit" value="add &raquo;">
</form>

{% if automation %}
<h2>Light control</h2>
<ul>
  <li>Floor lamp:
  <select>
    <option value="on">On</option>
    <option value="off">Off</option>
  </select>
  </li>
  <li>Piano light:
  <select>
    <option value="on">On</option>
    <option value="off">Off</option>
  </select>
  </li>
  <li>Camera lamp:
  <select>
    <option value="on">On</option>
    <option value="off">Off</option>
  </select>
  </li>
  <li>Lila desk lamp:
  <select>
    <option value="on">On</option>
    <option value="off">Off</option>
  </select>
  </li>
</ul>

<h2>Voice control</h2>
Voice control
<select>
  <option value="on">On</option>
  <option value="off">Off</option>
</select>
{% endif %}
{% endblock %}

{% block queue %}
{% for item in queue %}
<li>
  {{ item }}
  <a href="/delete/{{ item.media_id }}" class="remove-link">(remove)</a>
</li>
{% endfor %}
{% endblock %}
